<!DOCTYPE html>

<html>
    <head>
        <title>StudyWise</title>
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    </head>
    <body>
        <ul id="navbar">
            <span id="navbar-left">
                <a id="logo-a" href="/login">
                    <li id="logo">StudyWise</li>
                </a>
            </span>
            <span id="navbar-right">
                <a href="https://github.com/numantepe/studywise/blob/master/README.md" target="_blank">
                    <li>Help</li>
                </a>
                <a href="/register">
                    <li>Register</li>
                </a>
                <a href="/login">
                    <li>Log in</li>
                </a>
                <!-- <li id="logout">Log out</li> -->
            </span>
        </ul>
        <div class="forgot">
            If you forgot your username or password,
            <br><br>
            Please email <span id="botemail">botemail597@gmail.com</span> with the email associated with your StudyWise account.
        </div>
        <script src="/static/js/index.js"></script>
   </body>
</html>
