<!DOCTYPE html>

<html>
    <head>
        <title>StudyWise</title>
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    </head>
    <body>
        <ul id="navbar">
            <span id="navbar-left">
                <a id="logo-a" href="/">
                    <li id="logo">StudyWise</li>
                </a>
            </span>
            <span id="navbar-right">   
                <!-- <a href="/register">
                    <li>Register</li>
                </a>
                <a href="/login">
                    <li>Log in</li>
                </a> -->
                <a href="https://github.com/numantepe/studywise/blob/master/README.md" target="_blank">
                    <li>Help</li>
                </a>
                <a href="/settings">
                    <li>Settings</li>
                </a>
                <li id="logout">Log out</li>
            </span>
        </ul>
        <div id="logged-in-as"></div>
        <div class="lesson-list-container">
            <button type="button" class="btn btn-blue" id="add-new-lesson">Add New Lesson</button>
            <a href="/view_all_lessons">
                <button class="btn btn-blue" id="view-all-lessons">View All Lessons</button>
            </a>
            <p id="lesson-list-container-title">Today's Schedule</p>
            <ul class="lesson-list">
            </ul>
        </div>
        <script src="/static/js/index.js"></script>
        <script src="/static/js/loggedin.js"></script> <!-- NEXT TIME DO index.js FOR BETTER ARCH-->
        <script src="/static/js/logout.js"></script>
    </body>
</html>
