<!DOCTYPE html>

<html>
    <head>
        <title>StudyWise</title>
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    </head>
    <body>
        <ul id="navbar">
            <span id="navbar-left">
                <a id="logo-a" href="/">
                    <li id="logo">StudyWise</li>
                </a>
            </span>
            <span id="navbar-right">
                <li>Register</li>
                <li>Log in</li>
                <li>Log out</li>
            </span>
        </ul>
        <div class="lesson-list-container">
            <button type="button" class="btn btn-blue" id="add-new-lesson">Add New Lesson</button>
            <a href="/view_all_lessons">
                <button class="btn btn-blue" id="view-all-lessons">View All Lessons</button>
            </a>
            <p id="lesson-list-container-title">Today's Schedule</p>
            <ul class="lesson-list">
            </ul>
        </div>
        <script src="/static/js/script.js"></scriptsrc>></script>
    </body>
</html>
